footer {
  margin-top: var(--spacing-xl);
  border-top: 1px solid light-dark(var(--color-gray-200), var(--color-gray-700));
  background-color: light-dark(var(--color-shaded), var(--color-gray-900));

  a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-accent);
    }

    svg {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin-left: 4px;
    }
  }

  .footer-content {
    max-width: var(--grid-container-width);
    margin: 0 auto;
    padding: var(--spacing-xxl) 0;
    font-size: 14px;
  }

  .section-legal {
    margin-bottom: var(--spacing-l);
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin-block: var(--spacing-m);
    }
  }

  .section-copyright {
    margin-top: var(--spacing-l);
    
    p {
      margin: 0;
    }
  }

  .section {
    .default-content {
      max-width: initial;
      margin: initial;
    }
  }
}

@media (width >= 900px) {
  footer {
    .footer-content {
      padding: var(--spacing-xxl) 0 var(--spacing-xl) 0;
    }

    .section-legal {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
      margin-bottom: var(--spacing-xl);

      ul {
        display: flex;
        justify-content: end;
        gap: var(--spacing-xl);
      }

      li {
        margin: 0;
      }
    }

    .section-copyright {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
      margin-top: var(--spacing-xl);
    }
  }
}
